@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header, article, slider, aside, footer, section,figcaption, figure, nav {
	display: block;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: none;
	text-decoration: none;
	color: inherit;
}
img {
	vertical-align: top;
}
ul, li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 16px;
	font-size: 1rem;
	font-weight: normal;
}
/*플롯해제*/
.cf:after {
	content: '';
	display: block;
	clear: both;
}
/*구분선*/
.divider {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border: 0;
	height: 2px;
	display: block;
	outline: 0;
	background-color: black;
	opacity: 0.8;
}
.min_divider {
	width: 20px;
	margin: 0 auto;
	padding: 0;
	border: 0;
	height: 2px;
	display: block;
	outline: 0;
	background-color: black;
	opacity: 0.8;
}
.container {
	margin: 0 auto;
	width: 1380px;
	width: 100%;
	max-width: 1380px;
}
.blind {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
}
.sec_title {
	font-size: 36px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}