@charset "utf-8";
.contents {
	width: 100%;
}

/*3-1. 컨버스*/
.sec_converse {
	width: 100%;
	margin-top: 60px;
}
.sec_converse .converse_text {}
.sec_converse .converse_text .sec_title {
	text-align: center;
}
.sec_converse .converse_text .desc {
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 30px;
	line-height: 1.5;
}
.sec_converse .converse_menu {
	margin-top: 30px;
}
.sec_converse .converse_menu li {
	text-align: center;
	width: 100%;
	margin-top: 30px;
}
.sec_converse .converse_menu li:nth-child(1) {
	margin-top: 0;
}
.sec_converse .converse_menu li a {
	display: block;
	width: 100%;
	height: 100%;
}
.sec_converse .converse_menu li a img {
	width: 40px;
	height: 40px;
	margin-bottom: 20px;
}
.sec_converse .converse_menu li .menu_title {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}
/*3-1. 컨버스영역 끝*/

/*구분선*/
.divider {
	margin-top: 60px;
}

/*3-2. 커뮤니티영역*/
.sec_community {
	width: 100%;
	margin-top: 60px;
}
.sec_community .sec_title {
	text-align: center;
}
.sec_community .community_images {
	margin-top: 30px;
}
.sec_community .community_images li {
	width: 100%;
}
.sec_community .community_images li a {
	display: block;
}
.sec_community .community_images img {
	width: 100%;
}
/*3-2. 커뮤니티영역 끝*/

/*구분선*/
.min_divider {
	margin-top: 60px;
}

/*3-3. 런칭영역*/
.sec_launching {
	width: 100%;
	margin-top: 60px;
}
.sec_launching .launching_box .sec_title {
	text-align: center;
	margin-bottom: 30px;
}
.sec_launching .launching_box .launching_menu {}
.sec_launching .launching_box .launching_menu li {
	text-align: center;
	width: 100%;
	margin-top: 30px;
}
.sec_launching .launching_box .launching_menu li:nth-child(1) {
	margin-top: 0;
}
.sec_launching .launching_box .launching_menu a {
	display: block;
	width: 100%;
	height: 100%;
}
.sec_launching .launching_box .launching_menu img {
	width: 100%;
	margin-bottom: 20px;
}
.sec_launching .launching_box .launching_menu time {
	font-family: 'Lato', sans-serif;
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
}
.sec_launching .launching_box .launching_menu h3 {
	font-size: 14px;
	margin-bottom: 20px;
}
.sec_launching .launching_box .launching_menu h3:hover {
	font-weight: bold;
}
/*3-3. 런칭영역 끝*/

/*3-4. 컨택트영역*/
.sec_contact {
	margin-top: 60px;
}
.sec_contact .sec_title {
	text-align: center;
	margin-bottom: 30px;
}
.sec_contact fieldset {
	font-family: 'Lato', sans-serif;
	width: 100%;
	border: none;
}
.sec_contact fieldset .input_box {
	width: 100%;
}
.sec_contact fieldset .input_box input {
	width: 100%;
	height: 40px;
	border: none;
	border-bottom: 1px solid lightgray;
	margin-bottom: 15px;
}
.sec_contact fieldset .textarea_box {
	width: 100%;
}
.sec_contact fieldset .textarea_box textarea {
	width: 100%;
	height: 150px;
	border: none;
	border-bottom: 1px solid lightgray;
	margin-bottom: 50px;
}
.sec_contact button {
	font-family: 'Lato', sans-serif;
	border: none;
	background-color: lightgray;
	height: 50px;
	width: 120px;
	cursor: pointer;
	/*플롯*/
	float: right;
}
.sec_contact button:hover {
	background-color: dimgray;
	font-weight: bold;
}
/*3-4. 컨택트영역 끝*/