@charset "utf-8";
.footer {
	font-family: 'Lato', sans-serif;
	margin-top: 60px;
}
.footer iframe {
	width: 100%;
	height: 420px;
}
.footer p {
	text-align: center;
	margin-top: 30px;
	padding-bottom: 30px;
}